:root {
  --clr-primary-dark: hsl(218, 23%, 16%);
  --clr-primary-medium: hsl(217, 19%, 24%);
  --clr-primary-light: hsl(193, 38%, 86%);
  --clr-accent: hsl(150, 100%, 66%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  padding: 1rem;
  font-family: 'Manrope', sans-serif;
  font-size: 1.5rem;
  color: var(--clr-primary-light);
  background-color: var(--clr-primary-dark);
}
